.App {
  text-align: center;
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color:  rgb(77, 158, 98);
  
}
h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image : linear-gradient(#215841, #000000);
  color:transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;  /* Esto asegura que el contenedor ocupe toda la altura */
  width: 90%;   /* Asegura que ocupe toda la anchura */
  padding:5%;
  background-color: rgb(11, 88, 30);
  color:  rgb(77, 158, 98);
  border-top: 4px solid black;
}

li{
  list-style: none;
}
.checked{
  text-align: center;
  vertical-align:middle;
  width:16px;
  height: 16px;
}
.lista {
  height: 100%;
    /* Ocupa el 100% de la altura disponible */
  max-height: 940px;
  width: 70%;    /* Por ejemplo, el 70% del ancho total para la lista de tareas */
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 2%;
  background-color: rgb(77, 158, 98);
  overflow-y: auto;
  
}
.lista::-webkit-scrollbar{
  width: 1px;
  
}
.listaTexto{
  height: 100%;
}
html,body,#root{
  height: 100%;
}
form{
  
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  
  justify-content:flex-start;
}
form button{
  height: 70px;
  width: 300px;
  margin-top: 10px;
  background-color: rgb(11, 88, 30);
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  color: black !important;
  border: 2px outset black;
  border-radius: 5px;
  
}
form button:hover{
  background-color: rgb(77, 158, 98);
}
input{
  border-radius: 5px;
  height: 6%;
  width: 96%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 4px solid  black;
  text-align: center;
}
li{
  margin-right: 3%;
  color:rgb(11, 88, 30);
  border: 4px rgb(11, 88, 30);
  border-radius: 10px;
  margin-bottom: 1%;
  border-style: outset;
}
li .texto{
  background-color: white;
  padding: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:flex;
  justify-content: space-around;
}
.texto span{
  border-right: 1px outset black;
  border-left: 1px outset black;
  
  overflow-x: auto;
  width: 100%;
  padding: 10px;
}

li .botones{
  display: flex;
  justify-content:space-around;
  width: 100%;
  
  background-color: rgb(92, 230, 184);
  
}
li .botones button{ 
  width: 100%;
  background-color: rgb(11, 88, 30);;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  color: black !important;

}
li .botones button:hover{
  background-color: rgb(77, 158, 98);
}
